<% if user_signed_in? %>

  <div class='ml-5'>
  <h3>Projects List</h3>
  <% if (current_user.manager?)%>
    <%= link_to 'Create new Project', new_project_path, class:"btn btn-outline-primary btn-sm"  %>
  <%end%>
  </div>

  <div class='ml-5 mr-5 mt-3 row d-flex justify-content-center'>
  <%= render @projects %>
  </div>
<% end %>
