<div class="m-5 p-3 w-50">

  <h1>Create Project</h1>
  <% if @project.errors.full_messages.any? %>
    <% @project.errors.full_messages.each do |error_message| %>
      <p class='text-danger'><%= error_message if @project.errors.full_messages.first == error_message %></p>
    <% end %>
  <% end %>

  <div class="m-5">

  <%= form_for @project  do |f| %>
     <%= render :partial => "form", :locals => { :f => f } %>
  <% end %>
  </div>

</div>
