/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


body {
//   background: rgb(53,129,173);
// background: linear-gradient(90deg, rgba(53,129,173,1) 0%, rgba(0,37,98,1) 98%);
background-color: #566573;
color: white;
  // background: linear-gradient(90deg, rgb(5, 30, 45) 0%, rgb(0, 22, 58) 98%);

}

.navbar{
  background-color: #566573;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 30px 40px 0 rgba(0, 0, 0, 0.19);
}

.c-alert{
  position: absolute;
  width: 25%;
  z-index: 1;
  right: 0px;
}

.form-control-date{
  border: none;
  box-sizing: border-box;
  outline: 0;
  position: relative;
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
